### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [3]:
l=[]
print(l)

[]

Create a list of your favorite colors and print it.

In [4]:
l=['red','white','black','blue']
print(l)

['red', 'white', 'black', 'blue']

Create a list that includes a mix of data types (integers, strings, floats).

In [5]:
l=['red',205,'black',2.5]
print(l)

['red', 205, 'black', 2.5]

Access the first element of a list.

In [6]:
l[0]

'red'

Access the last element of a list.

In [7]:
l[-1]

2.5

 Access the second and third elements of a list.

In [33]:
l

['red', 205, 'black', 2.5]


Slice a list to extract the first three elements.

In [32]:
l[-3:]

[205, 'black', 2.5]

Slice a list to extract the last three elements.

In [35]:
l[0::2]

['red', 'black']

Slice a list to get every second element.

In [40]:
l[::-1]

[2.5, 'black', 205, 'red']

Reverse a list using slicing.

In [12]:
reversed_list = l[::-1]

print("Original list:", l)
print("Reversed list:", reversed_list)

Original list: ['red', 205, 'black', 2.5]
Reversed list: [2.5, 'black', 205, 'red']

 Create two lists and concatenate them.

In [13]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6]


Repeat a list multiple times using the repetition operator

In [14]:
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Add a new element to the end of a list using the append() method.

In [41]:
l1=[1,2,30]
l2=[4,5,6]
l1.extend(l2)
l1

[1, 2, 30, 4, 5, 6]


Extend a list with elements from another list using the extend() method.

In [43]:
l1=[1,2,3]
l2=[4,5,6]
l1.insert(2,3)
l1

[1, 2, 3, 3]

Insert an element at a specific index in a list using the insert() method.

In [44]:
l5=[7,8,9]
l5.pop()
l5

[7, 8]

 Remove the last element from a list using the pop() method.

In [46]:
l5.remove(7)
l5

ValueError: list.remove(x): x not in list

Remove a specific element from a list using the remove() method.

In [47]:
l1=[1,2,3]
l1.clear()

Clear all elements from a list.

In [50]:
print(l2)
del l2[1]
l2

[4]

IndexError: list assignment index out of range

Delete an element at a specific index using the del statement.

In [51]:
st='hello'
list=list(st)
list

['h', 'e', 'l', 'l', 'o']

Convert a string to a list of characters and vice-versa.

In [52]:
l6=[1,5,6,72,7]
l6.sort()
l6

[1, 5, 6, 7, 72]

In [53]:
#Sort a list in ascending order using the sort() method.
l4=[4,5,2,8,6,1]
l4.sort(reverse=True)
l4

[8, 6, 5, 4, 2, 1]

In [24]:

#Sort a list in descending order using the sort() method.
l5=[5,4,3,2,1,0]
l5.sort(reverse=True)
l5

[5, 4, 3, 2, 1, 0]

Reverse the order of a list using the reverse() method.

In [56]:
l5=[1,2,3,4]
if 5 in l5:
    print("yes")
else:
    print("no")

no

Check if an element is present in a list using the in operator.

In [26]:
if 5 in l5:
    print("YES")
else:
    print("NO")

YES

Compare two lists to see if they are equal in both value and identity.

In [27]:
from copy import copy

False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [28]:
from copy import copy
l1=[1,2,3]
l2=l1.copy()
l1[1]=5
print(l1)
print(l2)
l2[2]=5
print(l1)
print(l2)

[1, 5, 3]
[1, 2, 3]
[1, 5, 3]
[1, 2, 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [29]:
import copy
l1=[1,2,3,[4,5,6]]
copied_list = copy.deepcopy(l1)
l1[3][1]=8
print(l1)
print(l2)
l1[3][2]=9
print(l1)
print(l2)

[1, 2, 3, [4, 8, 6]]
[1, 2, 5]
[1, 2, 3, [4, 8, 9]]
[1, 2, 5]

Pickle and Unpickle a list and display its content.

In [57]:
import pickle
my_list = [1, 2, 3, 4, 5]
with open('my_list.pickle', 'wb') as file:
    pickle.dump(my_list, file)

with open('my_list.pickle', 'rb') as file:
    unpickled_list = pickle.load(file)

unpickled_list

[1, 2, 3, 4, 5]

In [59]:
import copy

# Original list with nested list
original_list = [[1, 2, 3], [4, 5, 6]]

# Deep copy
deep_copied_list = copy.deepcopy(original_list)

# Modify the deep copied list
deep_copied_list[0][0] = 100

# Print both lists
print("Original List:", original_list)
print("Deep Copied List:", deep_copied_list)

Original List: [[1, 2, 3], [4, 5, 6]]
Deep Copied List: [[100, 2, 3], [4, 5, 6]]

In [58]:
import copy

# Original list with nested list
original_list = [[1, 2, 3], [4, 5, 6]]

# Shallow copy
shallow_copied_list = copy.copy(original_list)

# Modify the shallow copied list
shallow_copied_list[0][0] = 100

# Print both lists
print("Original List:", original_list)
print("Shallow Copied List:", shallow_copied_list)

Original List: [[100, 2, 3], [4, 5, 6]]
Shallow Copied List: [[100, 2, 3], [4, 5, 6]]