    Create an empty set and print it.

In [1]:
s={}
s

{}

  Create a set of your favorite colors and print it.

In [2]:
s={"Red","White","blue"}
s

{'Red', 'White', 'blue'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [3]:
set1={"Red","White",25,2.5,"Blue"}

Access the elements of a set using a loop and print each element.

In [4]:
for i in set1:
    print(i)

Red
2.5
White
25
Blue

add a new element to a set using the add() method.

In [5]:
set1.add("Hello")
set1

{2.5, 25, 'Blue', 'Hello', 'Red', 'White'}

Add multiple elements to a set using the update() method.

In [6]:
set2={1,2,3,4}
set1.update(set2)
set1

{1, 2, 2.5, 25, 3, 4, 'Blue', 'Hello', 'Red', 'White'}

Remove and return an arbitrary element from a set using the pop() method.

In [7]:
set1.pop()

1

Remove a specific element from a set using the remove() method.

In [8]:
set1.remove("Hello")
set1

{2, 2.5, 25, 3, 4, 'Blue', 'Red', 'White'}

Remove a specific element from a set using the discard() method.

In [9]:
set1.discard(50)
set1.discard(2.5)
set1

{2, 25, 3, 4, 'Blue', 'Red', 'White'}

Convert a string to a set of unique characters.

In [10]:
set3=set("Hello")
set3

{'H', 'e', 'l', 'o'}

Convert a set of characters to a string.

In [11]:
stringg="".join(set3)
stringg

'eloH'

Use the clear() method to remove all elements from a set.

In [12]:
set3.clear()
set3

set()

Use the copy() method to create a shallow copy of a set.

In [13]:
set3=set1.copy()
set3

{2, 25, 3, 4, 'Blue', 'Red', 'White'}

Use the difference() method to find the difference between two sets.

In [14]:
s1={1,2,3,4}
s2={2,3,5,8}
s3=s1.difference(s2)
s3

{1, 4}

In [15]:
s1={1,2,3,4}
s2={2,3,5,8}
s3=s1 - s2
s3

{1, 4}

Create two sets and find their union.

In [16]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1.union(s2)
s3

{1, 2, 3, 4, 5, 8}

In [17]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1 | s2
s3

{1, 2, 3, 4, 5, 8}

    Create two sets and find their intersection.

In [18]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1.intersection(s2)
s3

{2, 3}

In [19]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1 & s2
s3

{2, 3}

 Create two sets and find their difference.

In [20]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1 - s2
s3

{1, 4}

    Create two sets and find their symmetric difference.

In [21]:
s1={1,2,3,4}
s2={2,3,5,8}
s3= s1.symmetric_difference(s2)
s3

{1, 4, 5, 8}

Check if one set is a subset of another.

In [22]:
set1.issubset(s2)

False

    Check if one set is a superset of another.

In [23]:
set1.issuperset(s2)

False

    Check if two sets are disjoint (have no common elements).

In [24]:
set2.isdisjoint(s2)

False