    Create an empty tuple and print it.

In [72]:
tup1=tuple()
tup1

()

    Create a tuple of your favorite fruits and print it.

In [73]:
tup2=("Banana","Orange","Apple","WaterMelon")
tup2

('Banana', 'Orange', 'Apple', 'WaterMelon')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [74]:
tup3=("hello",1, 2,"World",2.5)
tup3

('hello', 1, 2, 'World', 2.5)

  Access the first element of a tuple.

In [75]:
tup3[0]

'hello'

    Access the last element of a tuple.

In [76]:
tup3[-1]

2.5

Access the second and third elements of a tuple.

In [77]:
tup3[1],tup3[2]

(1, 2)


    Slice a tuple to extract the first three elements.

In [78]:
tup3[:3]

('hello', 1, 2)

Slice a tuple to extract the last three elements.

In [79]:
tup3[-3:]

(2, 'World', 2.5)

   Slice a tuple to get every second element.

In [80]:
tup3[1::2]

(1, 'World')

    Reverse a tuple using slicing.

In [81]:
tup3[-1::-1]

(2.5, 'World', 2, 1, 'hello')

Create two tuples and concatenate them.

In [82]:
tup4=(3,2,1)
tup5=(4,5,6)
tup6=tup4 + tup5
tup6

(3, 2, 1, 4, 5, 6)

    Repeat a tuple multiple times using the repetition operator.

In [83]:
tup7=(1,2,3)*3
tup7

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Find the index of a specific element in a tuple using the index() method.

In [84]:
tup6.index(5)

4

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [85]:
tup7.count(3)

3

Sort a tuple of numbers in ascending order.

In [86]:
sort=tuple(sorted(tup6))
sort

(1, 2, 3, 4, 5, 6)

    Sort a tuple of strings in alphabetical order.

In [87]:
alpha=("a","f","c")
s=sorted(alpha)
s

['a', 'c', 'f']

Sort a tuple of tuples based on the second element of each inner tuple.

In [88]:
tuple_of_tuples = (('a', 3), ('b', 1), ('c', 2))
sorted_tuple = tuple(sorted(tuple_of_tuples, key=lambda x: x[1]))
sorted_tuple

(('b', 1), ('c', 2), ('a', 3))

Compare two tuples to see if they are equal in both value and identity.

In [89]:
if tup5==tup6:
    print("YES")
else:
    print("NO")

NO

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [90]:
tup8 = ([1, 2, 3], 4, 5)
shallow_tup= tup8[:]
shallow_tup[0].append(6)
print("Original Tuple:", tup8)
print("Shallow Copy Tuple:", shallow_tup)

Original Tuple: ([1, 2, 3, 6], 4, 5)
Shallow Copy Tuple: ([1, 2, 3, 6], 4, 5)

Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [91]:
import copy
tup9 = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
deep_copy_tuple = copy.deepcopy(tup9)
print("Original Nested Tuple:", tup9)
print("Deep Copy Nested Tuple:", deep_copy_tuple)

Original Nested Tuple: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Deep Copy Nested Tuple: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

    Pickle a tuple and save it to a file.

In [92]:
import pickle
my_tuple = (1, 2, 3, "hello", ["a", "b", "c"])
file_path = "my_tuple.pkl"
with open(file_path, 'wb') as file:
    pickle.dump(my_tuple, file)

print("Tuple pickled and saved to file:", file_path)

Tuple pickled and saved to file: my_tuple.pkl

  Unpickle a tuple from a file and display its content.

In [93]:
file_path = "my_tuple.pkl"

with open(file_path, 'rb') as file:
    unpickled_tuple = pickle.load(file)

print("Unpickled Tuple:", unpickled_tuple)

Unpickled Tuple: (1, 2, 3, 'hello', ['a', 'b', 'c'])